@keyframes loading-shrink {
  0% {
    transform: scaleY(1);
    opacity: 1;
    background-color: #020016;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
    background-color: #531431;
  }
}

.loading-shrink {
  animation: loading-shrink 2000ms ease-in-out;
  transform-origin: top;
  animation-delay: 2s;
}

/* Add to your global CSS */
@keyframes loading-bar {
  0% {
    left: -33%;
  }
  100% {
    left: 100%;
  }
}
.animate-loading-bar {
  animation: loading-bar 1s linear infinite;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-out-after-2s {
  animation: fade-out 300ms linear forwards;
  animation-delay: 1.75s;
}
