.n-log-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	height: 100vh;
	background-color: #000;
}

 .n-logo {
	border-left: 48px solid #b1060f;
	border-right: 48px solid #b1060f;
	animation: animate 4s infinite ease-in-out;
	height: 240px;
	width: 144px;
}

.n-logo:before {
	width: 100%;
	height: 100%;
	background: #e50913;
	display: block;
	content: '';
}

.n-logo:before {
	transform: skewX(21.5deg);
	box-shadow: 0 0 30px black;
}

@keyframes animate {
	0%, 100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.10);
	}
} 